<ion-view view-title="Tracker">
  <ion-header-bar>
	<!-- Player Display Buttons -->
	<div class="item" id="playerDisplay" align="right">
	<button class="playerButton1" onclick="displayChange('player1')" id="p1button">P1</button>
	<button class="playerButton2" onclick="displayChange('player2')" id="p2button">P2</button>
	<button class="playerButton3" onclick="displayChange('player3')" id="p3button">P3</button>
	<button class="playerButton4" onclick="displayChange('player4')" id="p4button">P4</button>
	<button class="playerButton5" onclick="displayChange('player5')" id="p5button">P5</button>
	<button class="playerButton6" onclick="displayChange('player6')" id="p6button">P6</button>
	</div>
  </ion-header-bar>
  
  <ion-content has-bouncing="false">
	<!-- Player tabs -->
	<!--p1-->
	<div class="item item-divider" style="display:none" id="player1" detect-gestures gesture-type="swipePlayer">
	Player 1 
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','1')">-</button >
	<input type="text" id="1" class="input-display" value="0" disabled>
	<button type="button" class="button button-small button-positive" id="button1b" onclick="a('+1', '1')">+</button>
	<div class="col" align=right>
	<input type="text" id="1c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" class="button button-small button-positive" id="button2a" onclick="aT('+1','1c')">+</button><br>
	<button type="button" class="button button-small button-assertive" id="button2b" onclick="aT('-1','1c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','1')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','1')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','1')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','1')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','1c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','1c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','1c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','1c')">+10 </button>
	</div>
	</div>
	</div>

	<!--p2-->
	<div class="item item-divider" style="display:none" id="player2" detect-gestures gesture-type="swipePlayer">
	Player 2
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','2')">-</button>
	<input type="text" id="2" class="input-display" value="0" disabled>
	<button type="button" class="button button-small button-positive" id="button1b" onclick="a('+1', '2')">+</button>
	<div class="col" align=right>
	<input type="text" id="2c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" class="button button-small button-positive" id="button2a" onclick="aT('+1','2c')">+</button><br>
	<button type="button" class="button button-small button-assertive" id="button2b" onclick="aT('-1','2c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','2')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','2')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','2')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','2')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','2c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','2c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','2c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','2c')">+10</button>
	</div>
	</div>
	</div>

	<!--p3-->
	<div class="item item-divider" style="display:none" id="player3" detect-gestures gesture-type="swipePlayer">
	Player 3
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','3')">-</button>
	<input type="text" id="3" class="input-display" value="0" disabled>
	<button type="button" class="button button-small button-positive" id="button1b" onclick="a('+1', '3')">+</button>
	<div class="col" align=right>
	<input type="text" id="3c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" class="button button-small button-positive" id="button2a" onclick="aT('+1','3c')">+</button><br>
	<button type="button" class="button button-small button-assertive" id="button2b" onclick="aT('-1','3c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','3')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','3')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','3')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','3')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','3c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','3c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','3c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','3c')">+10</button>
	</div>
	</div>
	</div>

	<!--p4-->
	<div class="item item-divider" style="display:none" id="player4" detect-gestures gesture-type="swipePlayer">
	Player 4
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','4')">-</button>
	<input type="text" id="4" class="input-display" value="0" disabled>
	<button type="button" class="button button-small button-positive" id="button1b" onclick="a('+1', '4')">+</button>
	<div class="col" align=right>
	<input type="text" id="4c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" class="button button-small button-positive" id="button2a" onclick="aT('+1','4c')">+</button><br>
	<button type="button" class="button button-small button-assertive" id="button2b" onclick="aT('-1','4c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','4')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','4')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','4')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','4')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','4c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','4c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','4c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','4c')">+10</button>
	</div>
	</div>
	</div>

	<!--p5-->
	<div class="item item-divider" style="display:none" id="player5" detect-gestures gesture-type="swipePlayer">
	Player 5
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','5')">-</button>
	<input type="text" id="5" class="input-display" value="0" disabled>
	<button type="button" id="button1b" class="button button-small button-positive" onclick="a('+1', '5')">+</button>
	<div class="col" align=right>
	<input type="text" id="5c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" id="button2a" class="button button-small button-positive" onclick="aT('+1','5c')">+</button><br>
	<button type="button" id="button2b" class="button button-small button-assertive" onclick="aT('-1','5c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','5')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','5')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','5')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','5')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','5c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','5c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','5c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','5c')">+10</button>
	</div>
	</div>
	</div>

	<!--p6-->
	<div class="item item-divider" style="display:none" id="player6" detect-gestures gesture-type="swipePlayer">
	Player 6
	<div class="row row-center">
	<button type="button" class="button button-small button-assertive" id="button1a" onclick="a('-1','6')">-</button>
	<input type="text" id="6" class="input-display" value="0" disabled>
	<button type="button" id="button1b" class="button button-small button-positive" onclick="a('+1', '6')">+</button>
	<div class="col" align=right>
	<input type="text" id="6c" class="counter-display" value="0" disabled>
	</div>
	<div>
	<button type="button" id="button2a" class="button button-small button-positive" onclick="aT('+1','6c')">+</button><br>
	<button type="button" id="button2b" class="button button-small button-assertive" onclick="aT('-1','6c')">-</button>
	</div>
	</div>
	<div class="row row-center">
	<div class="col" id="counterButton">
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-10','6')">-10</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('-5','6')">-5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+5','6')">+5</button>
	<button type="button" id="button3" class="button button-small button-balanced" onclick="a('+10','6')">+10</button>
	</div>
	<div class="col" id="tokenButton" align=right>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-10','6c')">-10</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('-5','6c')">-5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+5','6c')">+5</button>
	<button type="button" id="button3" class="button button-small button-energized" onclick="aT('+10','6c')">+10</button>
	</div>
	</div>
	</div>
  </ion-content>
</ion-view>
